body{
    background-image:url(../img/Mapa/hoenn.png);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
    margin: 0;
}

.cabecalho{
    background-color: rgb(255, 243, 150);
    padding: 3%;
}

.logo{
    background-color: rgb(230, 255, 0);
}

.logotopo{
    width: 20%;
}

/* Classe atribuida para a div que vai receber o logotipo  */
nav{
    background-color: rgb(230, 255, 0);
}

main{
    background-color: rgb(255, 193, 13);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color:rgb(68, 99, 255);
}


.rodape{
    background-color:rgb(160, 255, 247);
    padding: 3%;
}

.titulo{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

h1, h2, h3, p, li, table{
    font-family: "Pixelify Sans", sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

.link{
    line-height: 1.5;
    font-size: 1.5em;
    color: rgb(10, 10, 10);
}

p, td{
    line-height: 1.5rem;
    color: azure;
}

.texto{
    color: rgb(15, 15, 15);
}

table{
    border-collapse: collapse;
    width: 80%;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border: 1px solid white; 
}

td, th{
    border: 5px solid white; 
    padding: 1.5%;
}

tr{
    background-color: rgb(51, 112, 98);
}

tr:nth-child(even){
    background-color: rgb(69, 133, 118);
}

.inicialimg {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

figure{
    text-align: center;
 }
 
 legend{
     margin-top:  0.6%;
 }
 
  .imggaleria{
     width: 90%;
 } 
 
 .linha{
     display: flex;
     flex-flow: row wrap;
 }
 
 .col-3{
     width: 25%;
 }

.col-4{
    width: 33.33%;
}
