body{
    background-image:url(../img/Mapa-hoenn.png);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
    margin: 0;
}

.cabecalho{
    background-color: rgb(44, 40, 255);
    padding: 3%;
    text-align: center;
}

.logo{
    background-color: rgb(255, 193, 13);
}

.logotopo{
    width: 20%;
}

/* Classe atribuida para a div que vai receber o logotipo  */
nav{
    background-color: rgb(255, 193, 13);
}

.menulinha {
    text-align: center;
}

li{
    margin-right: 2%;
}

.menugif{
    width: 20%;
    text-align: center;
}

main{
    background-color: rgb(255, 193, 13);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color:rgb(68, 99, 255);
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.sectionimg{
    background-image:url(../img/fundocolorido.jpg);
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
    margin: 0;
}


.rodape{
    background-color:rgb(44, 40, 255);
    padding: 3%;
}

.titulop{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    font-size: 1.35rem;
}

.titulo{
    text-align: center;
    font-weight: bold;
    line-height: 3;
    color: black;
}

h1, h2, h3, li, p, table, legend{
    font-family: "Pixelify Sans", sans-serif;
}

h1{
    font-size: 2.5rem;
    line-height: 3;
}

h2{
    font-size: 2rem;
    line-height: 3;
}

.esp{
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 3;
    font-size: 2rem;
}

.link{
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: rgb(10, 10, 10);
}

p, td{
    line-height: 1.1rem;
    font-size: 1.2rem;
    color: azure;
}

p{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.texto{
    color: rgb(15, 15, 15);
    font-weight: bold;
}

table{
    border-collapse: collapse;
    width: 80%;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border: 4px solid white; 
}

td, th{
    border: 2px solid white; 
    padding: 0.7%;
}

tr{
    background-color: rgb(51, 112, 98);
}

tr:nth-child(even){
    background-color: rgb(69, 133, 118);
}

.inicialimg {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

figure{
    text-align: center;
 }
 
 legend{
    margin-top:  0.6%;
 }
 
  .imggaleria{
    width: 90%;
 } 
 
 .linha{
    display: flex;
    flex-flow: row wrap;
 }
 

 .linha2{
    display: flex;
    flex-flow: wrap;
}

 .col-3{
    width: 25%;
 }

.col-4{
    width: 33.33%;
}

.imgleft{
    width: 15%;
    float: left;
}
.imgright{
    width: 15%;
    float: right;
}