body{
    background-image:url()
}

.cabecalho{
    background-image:url(../img/Minecraft\ bloco\ de\ terra.jpg)
    padding; 3%;
}

.logo{
    background-image:url(../img/minecraft\ bloco\ de\ grama.png)
}

.logotopo{
    width: 20%;
}

/* Classe atribuida para a div que vai receber o logotipo  */
nav{
    background-image:url(../img/Minecraft\ bloco\ de\ terra.jpg)
}

main{
    background-color:rgb(195, 195, 195);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color:rgb(136, 90, 19);
}

.rodape{
    background-color:rgb(200, 200, 200);
    padding: 3%;
}

.titulo{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

h1,h2,h3,p,li{
    font-family: "Pixelify Sans", sans-serif;
}

h1{
    font-size:2em;
}

h2{
    font-size:1.5em;
}

p{
    line-height: 1.5;
    font-size: 1.1em;
}

ul li{
    line-height: 1.5;
    font-size: 1.1em;
}